* { 
    box-sizing: border-box; 
}

main {
    padding-left: 2rem;
    padding-right: 2rem;

}

#homehero {
    height: 300px;
    background-image: url(images/homehero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

#studenthero {
    height: 300px;
    background-image: url(images/studenthero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#facultyhero {
    height: 300px;
    background-image: url(images/facultyhero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    background-color: #ffffff;
    color: #666666;
    font-family: verdana, arial, sans-serif;
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
    margin: 0px;
}

header {
    background-color: #003058;
    color: #ffffff;
    font-family: georgia, serif;
}

header h1 {
    line-height: 140%;
    padding: .5rem;
    background-image: url(images/utahtechlogo.svg);
    background-repeat: no-repeat;
    background-position: right top;
    padding-left: 1em;
    background-origin: content-box;
    margin: 0;
}

nav {
    font-weight: bold;
    background-color: #424242;
    padding: 0;
    margin: 0;
}
nav a:hover {
    background-color:#ba1c21;
}
nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}
nav ul li {
    width: 100%;
}
nav a{
    text-decoration: none;
    color:#ffffff;
    padding:1rem 0rem;
    display:block;
    text-align: center;
}

h2 {
    color: #424242;
    font-family: georgia, serif;
}

dt {
    color: #003058;
    font-weight: bold;
}

h3 {color: #003058;
}

.ut {
    color: #ba1c21;
    font-weight: bold;
}

footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}

#wrapper {
    display: grid;
    grid-auto-rows: minmax(0, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

header {
    grid-row: 1 / 2;
    grid-column: 2 / -2;
}

nav { 
    grid-row: 2 / 2;
    grid-column: 2 / -2;
}

#homehero, #studenthero, #facultyhero {
    grid-row: 3 / 4;
    grid-column: 2 / -2;
}

main {
    grid-row: 4 / 5;
    grid-column: 2 / -2;
    background-color: #ffffff;
}

footer { 
    grid-row: 5 / 6;
    grid-column: 2 / -2;
}
header a {
    color:#ffffff;
    text-decoration: none;
}

main img {
    float: right;
    padding-left: 2rem;
}