* { 
    box-sizing: border-box; 
}

main {
    padding-left: 2rem;
    padding-right: 2rem;

}

#homehero {
    height: 300px;
    background-image: url(images/homehero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

#studenthero {
    height: 300px;
    background-image: url(images/studenthero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#facultyhero {
    height: 300px;
    background-image: url(images/facultyhero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    background-color: #ffffff;
    color: #666666;
    font-family: verdana, arial, sans-serif;
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
    margin: 0px;
}

header {
    background-color: #003058;
    color: #ffffff;
    font-family: georgia, serif;
}

header h1 {
    line-height: 140%;
    padding: .5rem;
    background-image: url(images/utahtechlogo.svg);
    background-repeat: no-repeat;
    background-position: right top;
    padding-left: 1em;
    background-origin: content-box;
    margin-bottom: 0;
}

nav {
    font-weight: bold;
    background-color: #f3f3f3;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
}

nav a{
    text-decoration: none;
}

h2 {
    color: #424242;
    font-family: georgia, serif;
}

dt {
    color: #003058;
    font-weight: bold;
}

h3 {color: #003058;
}

.ut {
    color: #ba1c21;
    font-weight: bold;
}

footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}

#wrapper {
    display: grid;
    grid-auto-rows: minmax(0, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}